<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/templates/Book_flip/book_flip.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>


<button id="prev-btn" class="prev_button">
    <i class="material-icons" style="font-size:40px;color: white">arrow_back_ios</i>
</button>
<!-- The Book -->
<div id="book" class="book">

    <!-- Paper 1 -->
    <div id="p1" class="paper">


        <div class="front">

            <div id="f1" class="front-content">
                <img class="cover-img" src="/static/assets/carousel-books/steve.jfif" alt="Steve Jobs">
            </div>
        </div>
        <div class="back">
            <div class="back-content">
                <div class="Title_topic">Some Intro</div>
                <div class="content">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum
                        </p>

                </div>
            </div>
        </div>
    </div>
    <!-- Paper 2 -->
    <div id="p2" class="paper">
        <div class="front">
            <div id="f2" class="front-content">
                 <div class="Title_topic">Some Intro</div>
                <div class="content">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum
                        </p>

                </div>
            </div>
        </div>
        <div class="back">
            <div id="b2" class="back-content">
                                <div class="Title_topic">Some Intro</div>
                <div class="content">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum
                        </p>

                </div>
            </div>
        </div>
    </div>
    <!-- Paper 3 -->
    <div id="p3" class="paper">
        <div class="front">
            <div id="f3" class="front-content">
                 <div class="Title_topic">Some Intro</div>
                <div class="content">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum
                        </p>

                </div>
            </div>
        </div>
        <div class="back">
            <div id="b3" class="back-content">
                <img class="cover-img " src="/static/assets/carousel-books/steve.jfif" alt="Steve Jobs">
            </div>
            </div>
        </div>

    </div>
</div>

<button id="next-btn">
    <i class="material-icons" style="font-size:40px; color: white">arrow_forward_ios</i>
</button>

<script defer src="./main.js"></script>
</body>
</html>