{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CSS Cards</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon/reading.png' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <link rel="stylesheet" href="../../static/css/slide.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../static/css/style2.css">
    <link rel="stylesheet" href="../../static/css/loginsignup.css">
    <link rel="stylesheet" href="../../static/css/dropdown.css">

</head>

<body>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Header Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<header class="container-fluid">
    <nav id="nav" class="flex font-poppins">

        <div class="nav-brand">
            <a href="/MainHome" class="text-title text-lg font-bold">Ocean of Books</a>
        </div>

        <div class="toggle-btn">
            <button class="btn-toggle">
                <i class="material-icons" style="font-size:40px;">subject</i>
            </button>
        </div>

        <div class="collapse flex-grow">
            <ul class="flex">
                <li>
                    <a href="/MainHome" class="link">Home</a>
                </li>
                <li>
                    <a href="/Books" class="link">Books</a>
                </li>
                <li>
                    <a href="/aboutus2" class="link">About Us</a>
                </li>
                <li>
                    <a href="/contactus2" class="link">Contact Us</a>
                </li>


            </ul>

        </div>
        <div class="boox">
            <div class="user_img">
                <a href="#" class="profile">
                    <img src="./.././../static/assets/user.jpg">
                </a>
            </div>
            <div class="drp_box">
                <ul>
                    <li>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <ion-icon name="create-outline"></ion-icon>
                        <a href="#">Edit Profile</a>
                    </li>
                    <li>
                        <ion-icon name="help-circle-outline"></ion-icon>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <ion-icon name="settings-outline"></ion-icon>

                        <a href="#">Setting</a>
                    </li>
                    <li>
                        <a href="/signout">
                            <ion-icon type="submit" name="log-in-outline"></ion-icon>
                            Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~  /Header Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="app">

    <div class="cardList">

        <button class="cardList__btn btn btn--left">
            <div class="icon">
                <svg>
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
        </button>

        <div class="cards__wrapper">
            <div class="card current--card">

                    <div class="card__image">
                        <img src="../../static/assets/Front%20Cover/25541028.jpg" alt=""/>
                    </div>

            </div>

            <div class="card next--card">
                <div class="card__image">
                    <img src="../../static/assets/Front%20Cover/57282218.jpg" alt=""/>
                </div>
            </div>

            <div class="card previous--card">
                <div class="card__image">
                    <img src="../../static/assets/Front%20Cover/56914101.jpg" alt=""/>
                </div>
            </div>
        </div>

        <button class="cardList__btn btn btn--right">
            <div class="icon">
                <svg>
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </button>
    </div>

    <div class="infoList">
        <div class="info__wrapper">

            <div class="info current--info">
                <a href="/Musk">
                    <h4 class="text location">Elon Musk</h4>
                    <p class="text description">BY ASHLEE VANCE</p>
                </a>

            </div>

            <div class="info next--info">
                <a href="/Lore">
                    <h4 class="text location">LORE OLYMPUS: VOLUME ONE</h4>
                    <p class="text description">BY RACHEL SMYTHE</p></a>
            </div>

            <div class="info previous--info">
                <a href="/Hill">

                    <h4 class="text location">THE HILL WE CLIMB
                    </h4>
                    <p class="text description">BY AMANDA GORMAN</p></a>
            </div>
        </div>
    </div>


    <div class="app__bg">
        <div class="app__bg__image current--image">
            <img src="../../static/assets/background/1.jpg" alt=""/>
        </div>
        <div class="app__bg__image next--image">
            <img src="../../static/assets/background/3.jpg" alt=""/>
        </div>
        <div class="app__bg__image previous--image">
            <img src="../../static/assets/background/2.jpg" alt=""/>
        </div>
    </div>
</div>


<div class="loading__wrapper">
    <div class="loader--text">Welcome...</div>
    <div class="loader">
        <span></span>
    </div>
</div>


<svg class="icons" style="display: none;">
    <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='328 112 184 256 328 400'
                  style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'></polyline>
    </symbol>
    <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <polyline points='184 112 328 256 184 400'
                  style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'></polyline>
    </symbol>

</svg>



<!--@@@@@@@@@@@@@@@@@@@@@@Script@@@@@@@@@@@@@@@@@@@-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
<script type="text/javascript" src="../../static/js/slide.js"></script>
<script src="../../static/js/MainHome.js"></script>
<script src="../../static/js/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        $(".profile").click(function () {
            $(".drp_box").toggleClass("open")
        });
    });

</script>
</body>
</html>