{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon/reading.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Title</title>
</head>
<body>

<!-- @@@@@@@@@@@@  Header Section @@@@@@@@@@@@@ -->
<header class="container-fluid">
    <nav id="nav" class="flex font-poppins">

        <div class="nav-brand">
            <a href="/" class="text-title text-lg font-bold">Ocean of Books</a>
        </div>

        <div class="toggle-btn">
            <button class="btn-toggle">
                <i class="material-icons" style="font-size:40px;">subject</i>
            </button>
        </div>

        <div class="collapse flex-grow">
            <ul class="flex">
                <li>
                    <a href="/" class="link">Home</a>
                </li>
                <li>
                    <a href="/aboutus" class="link">About Us</a>
                </li>
                <li>
                    <a href="/contactus" class="link">Contact Us</a>
                </li>
            </ul>

        </div>


    </nav>
</header>


<!--contact section start-->
<div class="contact-section">

    <div class="contact-info">
        <h1>Contact Us</h1>
        <div><i class="fas fa-map-marker-alt"></i>Kathmandu, Nepal</div>
        <div><i class="fas fa-envelope"></i>joshiaayush871@email.com</div>
        <div><i class="fas fa-phone"></i>+977 9818984104</div>
        <div><i class="fas fa-clock"></i><span id='time'></span></div>
    </div>


    <div class="contact-form">
        {% if success %}
        <div class="">
            <strong>Message Successfully Sent!</strong></div>
        {% endif %}
        <h2>Leave Your Message</h2>
        <form action="/contactus" class="contact" action="" method="post">
            {% csrf_token %}
            <label>
                <input type="text" name="name" class=" text-box" placeholder="Your Full Name" required>
            </label>
            <label>
                <input type="email" name="email" class="text-box" placeholder="Your Email Address" required>
            </label>
            <label>
                <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
            </label>
            <input type="submit" name="submit" class="send-btn" value="Send">
        </form>
    </div>

</div>

<!--@@@@@@@@@@@@@@@@@@@@@@Footer@@@@@@@@@@@@-->

<footer id="footer2">
    <section class="container mx-auto py-10">

        <!-- @@@@@@@@@@@@  Footer Section @@@@@@@@@@@@@ -->
        <footer>
            <div class="footwave">
                <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div>
            </div>
            <ul class="social_icon">

                <li><a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
                <li><a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
                <li><a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p> @2022 Ocean Of Books| Aayush Raj Joshi | All Rights Reserved</p>
        </footer>
    </section>
</footer>
<script>
    function currentDate() {
        let str = "";
        const days = ["Sun", "Mon", "Tues", "Wed", "Thu", "Friday", "Sat"];
        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Augt", "Sep", "Oct", "Nov", "Dec"];
        const now = new Date();
        str += " " + days[now.getDay()] + ", " + now.getDate() + " " + months[now.getMonth()] + " " + now.getFullYear() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        document.getElementById("time").innerHTML = str;
    }

    setInterval(currentDate, 1000);
</script>
<script src="{% static 'js/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>