<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/library/books.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Box icons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>

<!-- @@@@@@@@@@@@  Header Section @@@@@@@@@@@@@ -->
<header class="container-fluid">
    <nav id="nav" class="flex font-poppins">

        <div class="nav-brand">
            <a href="MainHome.html" class="text-title text-lg font-bold">Ocean of Books</a>
        </div>

        <div class="toggle-btn">
            <button class="btn-toggle">
                <i class="material-icons" style="font-size:40px;">subject</i>
            </button>
        </div>

        <div class="collapse flex-grow">
            <ul class="flex">
                <li>
                    <a href="#" class="link">Home</a>
                </li>
                <li>
                    <a href="Books.html" class="link">Books</a>
                </li>
                <li>
                    <a href="#" class="link">About Us</a>
                </li>
                <li>
                    <a href="#" class="link">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="link">Dashboard</a>
                </li>
                <li>
                    <button class="btn btn-primary signup">Account</button>
                </li>
            </ul>

        </div>


    </nav>
</header>
<!-- @@@@@@@@@@@@  /Header Section @@@@@@@@@@@@@ -->
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-book-open'></i>
        <span class="logo_name">Ocean Of Books</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">Frictional</a></li>
                <li><a href="#">Non-Frictional</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="link_name">My Progress</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">My Progress</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-compass'></i>
                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Explore</a></li>
            </ul>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                </div>
                <div class="name-job">
                    <div class="profile_name">Log Out</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class=' left-arrow'>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                <path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path>
            </svg>
        </i>
    </div>
</section>

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Book Card Section @@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="wrapper">
        <div class="cards_wrap ">
            <div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div>
           <div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div><div class="card_item">
                <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/book3.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Travel
                        </div>
                        <div class="card_creator">
                            By Alex Kato
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/boook.js"></script>

</body>
</html>
