<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/library/books.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon/reading.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean of Books</title>
</head>
<body>

<!-- @@@@@@@@@@@@  Header Section @@@@@@@@@@@@@ -->
<header class="container-fluid">
    <nav id="nav" class="flex font-poppins">

        <div class="nav-brand">
            <a href="MainHome.html" class="text-title text-lg font-bold">Ocean of Books</a>
        </div>

        <div class="toggle-btn">
            <button class="btn-toggle">
                <i class="material-icons" style="font-size:40px;">subject</i>
            </button>
        </div>

        <div class="collapse flex-grow">
            <ul class="flex">
                <li>
                    <a href="MainHome.html" class="link">Home</a>
                </li>
                <li>
                    <a href="Books.html" class="link">Books</a>
                </li>
                <li>
                    <a href="#" class="link">About Us</a>
                </li>
                <li>
                    <a href="#" class="link">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="link">Dashboard</a>
                </li>
                <li>
                    <button class="btn btn-primary signup">Account</button>
                </li>
            </ul>

        </div>


    </nav>
</header>
<!-- @@@@@@@@@@@@  /Header Section @@@@@@@@@@@@@ -->
<div class="sidebar close">
    <div class="logo-details">
        <i class="material-icons icon_color" style="font-size:30px;color: aqua">auto_stories</i>
        <span class="logo_name">Ocean Of Books</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class="material-icons" style="font-size:30px; color: aqua">dashboard</i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class="material-icons icon_color" style="font-size:30px;color: aqua">category</i>
                    <span class="link_name">Category</span>
                </a>
                <i class="material-icons icon_color arrow" style="font-size:30px;color: aqua">keyboard_arrow_down</i>

            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">Frictional</a></li>
                <li><a href="#">Non-Frictional</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="material-icons" style="font-size:30px;color: aqua">pie_chart</i>
                <span class="link_name">Progress</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">My Progress</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="material-icons " style="font-size:30px;color:aqua">travel_explore</i>

                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Explore</a></li>
            </ul>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                </div>
                <div class="name-job">
                    <div class="profile_name">Log Out</div>
                </div>
                <a href="index.html">
                    <i class="material-icons " style="font-size:30px;color:orange">logout</i></a>

            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class=' left-arrow'>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                <path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path>
            </svg>
        </i>
    </div>
</section>

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Book Card Section @@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="wrapper">
    <div class="cards_wrap ">
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                        <img src="/static/assets/carousel-books/steve.jfif" alt="car"/>
                    <div class="card_bottom">
                        <div class="card_category">
                            Steve Jobs
                        </div>
                        <div class="card_creator">
                            By Walter Issacson
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/4671.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            The Great gatsby
                        </div>
                        <div class="card_creator">
                            By F. Scott FITZGERALD
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/10884.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Einstein
                        </div>
                        <div class="card_creator">
                            By Walter Issacson
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/86f69a07599891d9021ced8bd5814ea6.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            The Diary Of a Young Girl
                        </div>
                        <div class="card_creator">
                            By Annie Frank
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/25541028.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Elon Musk
                        </div>
                        <div class="card_creator">
                            by ashlee vance
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card ">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/58745185._SY475_.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            malibu rising
                        </div>
                        <div class="card_creator">
                            By taylor Jenkins reid
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/58744977._SY475_.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            The Last Thing He Told Me
                        </div>
                        <div class="card_creator">
                            By Laura Dave
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/56597885.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Beautiful World, Where Are You
                        </div>
                        <div class="card_creator">
                            By Sally Rooney
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/54493401.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Project Hail Mary
                        </div>
                        <div class="card_creator">
                            By Andy Weir
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/57282218.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Lore Olympus: Volume One
                        </div>
                        <div class="card_creator">
                            By Rachel Smythe
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/55145261.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            the anthropocene reviewed
                        </div>
                        <div class="card_creator">
                            By john green
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/57094644.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Daughter of the Deep
                        </div>
                        <div class="card_creator">
                            By Rick Riordan
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/56914101.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            The Hill We Climb
                        </div>
                        <div class="card_creator">
                            By Amanda Gorman
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/54589790.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Rule of Wolves
                        </div>
                        <div class="card_creator">
                            By Leigh Bardugo
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card">
                <div class="card_inner">
                    <div class="card_top">
                        <img src="/static/assets/carousel-books/43868109.jpg" alt="car"/>
                    </div>
                    <div class="card_bottom">
                        <div class="card_category">
                            Empire of Pain
                        </div>
                        <div class="card_creator">
                            By Patrick Radden
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/main.js"></script>
<script src="/static/js/boook.js"></script>

</body>
</html>
