<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/library/bookscard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean of Books</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <ul>
                <li>
                    <div class="book">
                        <ul class="front">
                            <li>
                                <div class="frontcover">
                                    <p class="title"> Elon Musk</p>
                                    <h2 class="heading"> Entrepreneur</h2>
                                    <p class="sub-title">build</p>
                                    <div class="book-icon">
                                        <img src="/static/assets/carousel-books/11084145.jpg" alt="">
                                    </div>
                                    <div class="writer">
                                        <img src="/static/assets/carousel-books/11084145.jpg" alt="">
                                        <p>
                                            <i> Written by</i>Aayush Raj Joshi
                                        </p>
                                    </div>
                                    <p class="copyright">&copy;&nbsp; COpyright 2022
                                    </p>
                                </div>
                            </li>
                            <li></li>
                        </ul>
                        <ul class="page">
                            <li></li>
                            <li><a href="#" class="btn">Read</a></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="back">
                            <li></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>